<ion-content style="position: relative;">
  <ion-button *ngIf="page !== 'registro'" class="btn-close-modal" mode="ios" (click)="close ()">
    <ion-icon name="close" class="icon-close"></ion-icon>
  </ion-button>
  <div style="text-align: center;" class="div-vard">
    <img src="assets/img/Grupo804.png" class="img-logo-genral">
    <ion-card mode="ios" class="ion-text-center">
      <div *ngIf="data?.promovido === 1" class="div_bandera">
        <img src="assets/img/Grupo-593.png" class="img_bandera">
        <span>
          {{ 'Popular' | translate }}
        </span>
      </div>
      <h5 *ngIf="type !== 'credis'" class="ion-no-margin ion-text-start">{{ data?.nombre }}</h5>
      <h5 *ngIf="type === 'credis'" class="ion-no-margin ion-text-start">{{ data?.text }}</h5>
      <p *ngIf="type !== 'credis'" class="p_card ion-no-margin ion-text-start">$ {{ data?.monto }} x month</p>
      <p *ngIf="type === 'credis'" class="p_card ion-no-margin ion-text-start">$ {{ data?.value }}</p>
      <ion-list mode="ios">
        <ion-item mode="ios" *ngFor="let item of data?.detalles" lines="none">
          <ion-icon name="checkmark-circle-sharp"></ion-icon>
          <ion-label class="ion-no-margin">{{ item.nombre }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <div class="div-paypal">
    <div #paypal></div>
  </div>
</ion-content>
