@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/font/avenirltstd-light.otf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
ion-progress-bar
{
    --background: #EDEDED;
    --progress-background: #CB9229;
    height: 7px;
}

ion-slides {
    height: 95%;
}

ion-title
{
    font-family: AvenirHeavy;
    color: #333333;
}
.item-top-cero
{
    margin-top: 25px !important;
}
.item-llamas
{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    margin-top: 40px;
    border-bottom: 3px solid #E3E3E3;
    width: 100%;
    .label-campo
    {
        font-family: Avenirlight;
        color: #555555;
        font-size: 17px;
    }
    .input-llmas
    {
        --color: #555555;
        font-family: Avenirlight;
        margin-top: 8px;
        --placeholder-opacity: 1;
        font-size: 18px;
    }
    .seletc-location
    {
        --placeholder-color: #555555;
        --placeholder-opacity: 1;
        font-family: Avenirlight;
        color: #555555;
        --padding-top: 0px;
        --padding-bottom: 0px;
    }
    .seletc-location::part(icon) 
    {
        display: none !important;
    }
}
.item-select-location
{
    --inner-padding-end: 15px;
}
h1
{
    color: #333333;
    font-family: AvenirHeavy;
    margin-top: 0px;
    font-size: 20px;
}
.color-plomo
{
    color: #555555;
    font-family: AvenirMedium;
    margin-top: 20px;
}
.img-terminos
{
    margin-top: 20%;
}
.p-dia-mes-ano
{
    color: #333333;
    font-family: AvenirMedium;
    font-weight: 600;
    margin: 0px;
}
.item-dias
{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    .input-dia
    {
        --placeholder-color: #9B9B9B;
        --color: #9B9B9B;
        font-family: AvenirMedium;
        --placeholder-font-weight: 800;
        border-bottom: 1px solid #D8D8D8;
        --placeholder-opacity: 1;
        text-align: center;
        font-size: 18px;
    }
    .input-dia-focus
    {
        border-bottom: 3px solid #333333;
    }
    .input-left
    {
        margin-left: 10px;
    }
}

.ion-item-center {
    text-align: center;  
}
.item-dias:focus {
    border-bottom: 3px solid #333333;
}
.col-padding-dia
{
    padding-left: 0px;
    padding-right: 10px;
}
.col-padding-mes
{
    padding-left: 5px;
    padding-right: 5px;
}
.col-padding-ano
{
    padding-left: 10px;
    padding-right: 0px;
}
ion-footer
{
    .btn-continuar-footer
    {
        width: 65%;
        --background: #77BDF0;
        --box-shadow: none;
        --border-radius: 23px;
        height: 50px;
        text-transform: none;
        font-family: AvenirMedium;
        font-size: 20px;
    }
    .p-footer
    {
        color: #555555;
        font-family: AvenirMedium;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.card-foto-fondo
{
    background-image: url('/assets/img/galeria-daddies-uno.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-foto
{
    --background: #F9F6FF;
    width: 60%;
    box-shadow: none;
    border-radius: 34px;
    margin: 10% 5% 0px 20%;
    text-align: center;
    padding: 30px 0px;
    height: 250px;
    .p-subir-foto
    {
        color: #555555;
        font-family: AvenirMedium;
        font-size: 20px;
        margin-bottom: 0px;
        font-weight: 600;
        margin-top: 5px;
    }
}
.div-fotos
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20%;
}
.card-fotos
{
    --background: #F9F6FF;
    width: 94%;
    box-shadow: none;
    border-radius: 10px;
    margin: 0px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px 8px 3%;
    border-radius: 0px;
    position: relative;
    ion-avatar
    {
        --border-radius: 0px;
        width: 100%;
        height: 100%;
        img
        {
            width: 100%;
            height: 100%;
        }
    }
    .icon-add
    {
        font-size: 35px;
        color: #CB9229;
    }
    .btn-close-fotos
    {
        position: absolute;
        --background: #fff;
        --background-activated: #fff;
        --color: #707070;
        --border-radius: 50%;
        width: 20px;
        height: 20px;
        right: 5px;
        top: 5px;
        --box-shadow: 0px 3px 6px #00000029;
        margin: 0;
        font-size: 0px;
        .icon-close-foto
        {
            color: #707070;
            font-size: 18px;
        }
    }
}
.card-fotos-fondo
{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-fotos-fondo-general
{
    background-image: url('/assets/img/galeria-daddies-uno.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item-radio-height
{
    align-items: baseline;
    height: 50px;
    margin-bottom: 5px;
}
.item-check-height
{
    align-items: baseline;
    height: 50px;
    margin-bottom: 10px;
}
.item-radio
{
    --padding-start: 0px;
    --inner-padding-end: 0px;
    .label-chech-radio
    {
        font-family: AvenirMedium;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        line-height: 1.2;
    }
    .label-policy
    {
        font-size: 18px !important;
        .link-privacy
        {
            color: #555555;
            text-decoration: none;
        }
    }
    ion-radio
    {
        margin-left: 0px;
        margin-right: 15px;
        --color-checked: #CB9229;
        --color: #E3E3E3;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .checbox
    {
        --border-color: #E3E3E3;
        --border-style: solid;
        --border-width: 4px;
        margin-right: 10px;
        --background-checked: #CB9229;
        --border-color-checked: #CB9229;
        --size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.item-top-privacy
{
    margin-top: 20%;
}
ion-select
{
    width: 100%;
}
ion-slide
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    align-items: flex-start;
    form
    {
        width: 100%;
    }
}
.slide-padding-start-end
{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.slide-fotos
{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.div-flex-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
@media(min-width: 375px) and (min-height: 667px)
{
    .card-fotos
    {
        height: 112px;
    }
}
/*@media(min-width: 375px) and (min-height: 812px)
{
    .list-scroll
    {
        height: 100%;
    }
}*/
@media(min-width: 411px)
{
    .card-foto
    {
        padding: 45px 0px;
        height: 300px;
    }
    .list-scroll
    {
        height: 100%;
    }
}
@media(min-width: 480px)
{
    .card-foto
    {
        padding: 50px 0px;
        height: 350px;
    }
}
@media(min-width: 540px)
{
    .grid-pagging
    {
        padding-left: 70px;
        padding-right: 70px;
    }
    .card-fotos
    {
        height: 200px;
    }
    .div-flex-footer
    {
        justify-content: center;
    }
    ion-footer
    {
        .btn-continuar-footer
        {
            width: 45%;
            margin-left: 40px;
        }
    }
}
@media(min-width: 640px)
{
    ion-footer
    {
        .btn-continuar-footer
        {
            width: 34%;
        }
    }
}
@media(min-width: 768px)
{
    .grid-pagging
    {
        padding-left: 150px;
        padding-right: 150px;
    }
    .card-fotos
    {
        height: 250px;
    }
    .slide-fotos 
    {
        padding-left: 80px;
        padding-right: 80px;
    }
    ion-slide
    {
        padding-left: 80px;
        padding-right: 80px;
    }
    .card-foto
    {
        width: 60%;
        margin: 10% 20% 0px 20%;
        height: 400px;
    }
}
@media(min-width: 1024px)
{
    .grid-pagging
    {
        padding-left: 200px;
        padding-right: 200px;
    }
    .card-foto
    {
        padding: 60px 0px;
        width: 50%;
        margin: 5% 25% 0px 25%;
    }
    .card-fotos
    {
        height: 240px;
    }
    ion-slide
    {
        padding-left: 120px;
        padding-right: 120px;
    }
}