<ion-content class="ion-text-center">
  <h1 class="ion-text-center">{{ 'Aprove notifications' | translate }}</h1>
  <img src="assets/img/img-campana.png">
  <p class="p">
    {{ 'Want us to let you know when there’s something going on?' | translate }}
  </p>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <div class="div-flex-footer">
    <p class="p-footer" (click)="later ()">{{ 'X Skip' | translate }}</p>
    <ion-button (click)="init_onesignal ()" mode="ios">{{ 'OK' | translate }}</ion-button>
  </div>
  <!--<p class="p-footer" (click)="later ()">{{ 'Later' | translate }}</p>-->
</ion-footer>
