.img-buscador-footer
{
	width: 31px;
	height: 31px;
}
.img-chat-footer
{
	width: 32px;
	height: 31px;
}
.img-corona-footer
{
	width: 34px;
	height: 34px;
}
.img-corazon-footer
{
	width: 31px;
	height: 31px;
}
.img-persona-footer
{
	width: 31px;
	height: 31px;
}

.ion-tab-button-selected {
	--background: #F5E9D8 !important;
}