<ion-header class="ion-no-border">
  <ion-toolbar style="position: relative;">
    <ion-icon name="chevron-back-outline" slot="start" class="icon-left-header"></ion-icon>
    <ion-title class="ion-text-center">Notifications settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <ion-list>

    <ion-list-header class="ion-no-padding">
      <ion-label class="ion-text-start ion-text-wrap label-list">When someone winks…</ion-label>
    </ion-list-header>
    <ion-row class="ion-margin-bottom">
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>Notification</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>E-mail</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-list-header class="ion-no-padding">
      <ion-label class="ion-text-start ion-text-wrap label-list">When someone winks…</ion-label>
    </ion-list-header>
    <ion-row class="ion-margin-bottom">
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>Notification</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>E-mail</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-list-header class="ion-no-padding">
      <ion-label class="ion-text-start ion-text-wrap label-list">When someone winks…</ion-label>
    </ion-list-header>
    <ion-row class="ion-margin-bottom">
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>Notification</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>E-mail</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-list-header class="ion-no-padding">
      <ion-label class="ion-text-start ion-text-wrap label-list">When someone winks…</ion-label>
    </ion-list-header>
    <ion-row class="ion-margin-bottom">
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>Notification</ion-label>
        </ion-item>
      </ion-col>
      <ion-col sieze="6" class="col-padding-eft-right">
        <ion-item lines="none" class="ion-no-padding">
          <ion-checkbox></ion-checkbox>
          <ion-label>E-mail</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
  </ion-list>
</ion-content>


