<ion-content class="ion-text-center">
  <h1 class="ion-text-center">Erase profile</h1>
  <img src="assets/img/imagen-32.png">
  <h5 class="h5-celeste">It breaks my heart to see you leave</h5>
  <p class="p">
    Take into consideration that all info related to your profile will be erased and will not be retrievable in the future. 
    <br><br>
    Are you sure you want to proceed?
  </p>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <ion-button mode="ios" (click)="view_profile()">Continue exploring</ion-button>
  <ion-button mode="ios" class="btn-erase">Erase my profile</ion-button>
  <!--<p class="p-footer" (click)="later ()">{{ 'Later' | translate }}</p>-->
</ion-footer>

