@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/font/avenirltstd-light.otf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirBlack;
    src : url('/assets/font/Avenir-Black.otf')
}
ion-progress-bar
{
    --background: #EDEDED;
    --progress-background: #CB9229;
    height: 7px;
}
h1
{
    color: #333333;
    font-family: AvenirHeavy;
    margin-top: 30px;
    font-size: 21px;
}
.card-fotos-fondo-general
{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.div-fotos
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20%;
}
.card-fotos
{
    --background: #F9F6FF;
    width: 46%;
    box-shadow: none;
    border-radius: 10px;
    margin: 0px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px 8px 4px;
    ion-avatar
    {
        --border-radius: 10px;
        width: 100%;
        height: 100%;
        img
        {
            width: 100%;
            height: 100%;
        }
    }
    .icon-add
    {
        font-size: 35px;
        color: #CB9229;
    }
}
.card-fotos-fondo
{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h1-personal-data
{
    margin-bottom: 35px !important;
}
.grid-pagging
{
    padding-left: 30px;
    padding-right: 30px;
    align-self: start;
}
.color-plomo 
{
    color: #8F8F8F;
    font-family: Avenirlight;
    margin-top: 20px;
}
.p-dia-mes-ano
{
    color: #333333;
    font-family: AvenirMedium;
    font-weight: 600;
    margin: 0px;
}
.col-padding-dia
{
    padding-left: 0px;
    padding-right: 10px;
}
.col-padding-mes
{
    padding-left: 5px;
    padding-right: 5px;
}
.col-padding-ano
{
    padding-left: 10px;
    padding-right: 0px;
}

.textarea {
    border: 1px solid rgb(0 0 0 / 50%);
    border-radius: 6px;
    text-align: left;
    margin-top: 30px;
}
.textarea-abaout
{
    border: 1px solid rgb(0 0 0 / 50%);
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 5px;
}

ion-footer
{
    padding-left: 30px;
    padding-right: 30px;
    .btn-continuar-footer
    {
        width: 100%;
        --background: #77BDF0;
        --box-shadow: none;
        --border-radius: 23px;
        height: 50px;
        text-transform: none;
        font-family: AvenirMedium;
        font-size: 20px;
    }
    .p-footer
    {
        color: #555555;
        font-family: AvenirMedium;
        font-size: 18px;
        margin-top: 22px;
        margin-bottom: 22px;
    }
}
.card-foto
{
    --background: #F9F6FF;
    width: 70%;
    box-shadow: none;
    border-radius: 34px;
    margin: 20% 15% 0px 15%;
    text-align: center;
    padding: 30px 0px;
    .p-subir-foto
    {
        color: #555555;
        font-family: AvenirMedium;
        font-size: 20px;
        margin-bottom: 0px;
        font-weight: 600;
        margin-top: 5px;
    }
}
.div-fotos
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20%;
}
.card-fotos
{
    --background: #F9F6FF;
    width: 30%;
    box-shadow: none;
    border-radius: 10px;
    margin: 0px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 4px 8px 4px;
    ion-avatar
    {
        --border-radius: 10px;
        width: 100%;
        height: 100%;
    }
    .icon-add
    {
        font-size: 35px;
        color: #CB9229;
    }
}
ion-slides {
    height: 95%;
}
ion-item 
{

    --padding-start: 0px;
    --inner-padding-end: 0px;
    width: 100%;
    .label-campo
    {
        font-family: Avenirlight;
        color: #000000;
        font-size: 18px;
        font-weight: bold;
    }
    ion-input
    {
        --color: #000000;
        font-family: Avenirlight;
        margin-top: 0px;
        --placeholder-opacity: 1;
    }
    .seletc-location
    {
        --placeholder-color: #555555;
        --placeholder-opacity: 1;
        font-family: Avenirlight;
        color: #555555;
        --padding-top: 0px;
        --padding-bottom: 0px;
    }
    .label-chech-radio
    {
        margin-top: 1px;
        margin-bottom: 0px;
    }
    .label-radio
    {
        margin-top: 4px;
        margin-bottom: 0px;
    }
    ion-radio
    {
        margin-left: 0px;
        margin-right: 15px;
        --color-checked: #CB9229;
        --color: #E3E3E3;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    ion-checkbox     
    {
        --border-color: #E3E3E3;
        --border-style: solid;
        --border-width: 4px;
        margin-right: 10px;
        --background-checked: #CB9229;
        --border-color-checked: #CB9229;
        --size: 25px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.item-height
{
    margin-top: 4px;
}
.item-radio-height
{
    align-items: baseline;
    height: 30px;
    margin-bottom: 5px;
}
.item-check-height
{
    align-items: baseline;
    height: 30px;
    margin-bottom: 10px;
}
.list-scrool
{
    height: 130%;
    overflow-y: scroll;
    padding-top: 25px;
}
.row-scrool
{
    height: 100%;
    overflow-y: scroll;
}
.list-scrool::-webkit-scrollbar,
.row-scrool::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.list-scrool::-webkit-scrollbar-thumb,
.row-scrool::-webkit-scrollbar-thumb {
    background: #cdcdd1;
    border-radius: 0px;
}
.list-scrool::-webkit-scrollbar-thumb:hover,
.row-scrool::-webkit-scrollbar-thumb:hover{
    background: #CDCDD1;
}
.list-scrool::-webkit-scrollbar-track
.row-scrool::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 0px;
}
.p-gracias
{
    color: #000000;
    font-family: AvenirMedium;
}
@media(min-width: 375px) and (min-height: 667px)
{
    .list-scrool, .row-scrool
    {
        height: 140%;
    }
}
@media(min-width: 375px) and (min-height: 812px)
{
    .list-scrool, .row-scrool
    {
        height: 185%;
    }
}
@media(min-width: 411px) and (min-height: 823px)
{
    .list-scrool, .row-scrool
    {
        height: 165%;
    }
}
@media(min-width: 411px) and (min-height: 823px)
{
    .list-scrool, .row-scrool
    {
        height: 195%;
    }
}
@media(min-width: 411px)
{
    .card-foto
    {
        padding: 45px 0px;
    }
    .card-fotos
    {
        width: 31%;
        height: 110px;
    }
}
@media(min-width: 414px)
{
    .list-scrool, .row-scrool
    {
        height: 165%;
    }
}
@media(min-width: 480px)
{
    .card-foto
    {
        padding: 50px 0px;
    }
    .card-fotos
    {
        height: 130px;
    }
    .list-scrool, .row-scrool
    {
        height: 200%;
    }
}
@media(min-width: 540px)
{
    .grid-pagging
    {
        padding-left: 70px;
        padding-right: 70px;
    }
    ion-footer
    {
        padding-left: 70px;
        padding-right: 70px;
    }
    .list-scrool, .row-scrool
    {
        height: 160%;
    }
}
@media(min-width: 768px)
{
    .grid-pagging
    {
        padding-left: 60px;
        padding-right: 60px;
    }
    ion-footer
    {
        padding-left: 150px;
        padding-right: 150px;
    }
    .card-fotos
    {
        height: 140px;
    }
    .list-scrool, .row-scrool
    {
        height: 120%;
    }
}
@media(min-width: 1024px)
{
    .grid-pagging
    {
        padding-left: 60px;
        padding-right: 60px;
    }
    .card-foto
    {
        padding: 60px 0px;
        width: 50%;
        margin: 20% 25% 0px 25%;
    }
    ion-footer
    {
        padding-left: 200px;
        padding-right: 200px;
    }
    .card-fotos
    {
        width: 32%;
        height: 200px;
    }
    .list-scrool, .row-scrool
    {
        height: 125%;
    }
}