<!-- <ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'Complete perfil' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close ()" color="dark">
        {{ 'Close' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-progress-bar mode="ios" [value]="index / _slides.length"></ion-progress-bar>
  
  <ion-grid *ngIf="loading === true" style="height: 100%;" class="grid-pagging ion-text-center">
    <ion-row style="display: flex; height: 100%;">
      <ion-col style="align-self: center;" size="12" class="ion-no-padding">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides mode="md" (ionSlideDidChange)="slides_changed ($event)" pager="false" [options]="slideOpts">
    <ng-container *ngFor="let slide of slides">
      <ion-slide *ngIf="slide === 'intereses'">
          <ion-grid class="grid-pagging">
            <ion-row style="display: flex;">
              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-center">{{ 'Honestly, what are you looking for?' | translate }}</h1>
              </ion-col>
    
              <ion-col size="12" class="ion-no-padding">
                <ion-list class="list-scrool">  
                  <ion-item *ngFor="let item of intereses" lines="none" class="item-check-height">
                    <ion-label class="label-campo label-chech-radio">{{ item.valor }}</ion-label>
                    <ion-checkbox (ionChange)="checkbox_changed ($event, item.id, intereses_map)" slot="start"></ion-checkbox>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-slide>

      <ion-slide *ngIf="slide === 'estoy_buscando'">
        <ion-grid class="grid-pagging">
          <ion-row style="display: flex;">
            <ion-col size="12" class="ion-no-padding">
              <h1 class="ion-text-center">{{ 'Describe exactly what you are looking for' | translate }}</h1>
            </ion-col>
  
            <ion-col size="12" class="ion-no-padding">
              <ion-textarea [(ngModel)]="estoy_buscando" class="textarea" rows="10" autoGrow="true"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide *ngIf="slide === 'personal_data'">
        <form style="align-self: start;" [formGroup]="personal_data_form">
          <ion-grid class="grid-pagging">
            <ion-row style="display: flex;">
              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-center h1-personal-data">{{ 'Personal Data' | translate }}</h1>
              </ion-col>

              <ion-col size="12">
                <ion-item mode="ios" lines="none">
                  <ion-label position="stacked" class="label-campo">{{ 'About me' | translate }}</ion-label>
                  <ion-textarea rows="5" formControlName="acerca_de_mi" class="textarea-abaout"></ion-textarea>
                </ion-item>
              </ion-col>
    
              <ion-col size="6">
                <ion-item mode="ios">
                  <ion-label position="stacked" class="label-campo">{{ 'Height' | translate }}</ion-label>
                  <ion-select (ionChange)="sistema_changed ()" formControlName="sistema" interface="popover" okText="Ok" cancelText="Cancel">
                    <ion-select-option value="imperial">{{ 'Imperial' | translate }}</ion-select-option>
                    <ion-select-option value="metric">{{ 'Metric' | translate }}</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col size="6">
                <ion-item mode="ios" class="item-height">
                  <ion-label position="stacked" class="label-campo"></ion-label>
                  <ion-select cancelText="Cancel" okText="Ok" formControlName="altura" [placeholder]="get_altura_placeholder ()" interface="alert">
                    <ion-select-option *ngFor="let item of get_alturas ()" [value]="item.id">
                      {{ item.text }}<span *ngIf="personal_data_form.value.sistema === 'metric'">m</span>
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-slide>

      <ng-container *ngIf="slide === 'apariencia'">
        <ion-slide *ngFor="let item of apariencias">
          <ion-grid class="grid-pagging">
            <ion-row style="display: flex;">
              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-center">{{ item.name }}</h1>
              </ion-col>
    
              <ion-col size="12" class="ion-no-padding">
                <ion-list class="list-scrool">  
                  <ion-radio-group (ionChange)="radio_changed ($event, item.name_space, apariencia_map)">            
                    <ion-item *ngFor="let item of apariencia_items [item.name_space + item.id].items" lines="none" class="item-radio-height">
                      <ion-label class="label-campo label-radio">{{ item.valor }}</ion-label>
                      <ion-radio slot="start" [value]="item"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ng-container>

      <ng-container *ngIf="slide === 'personalidad'">
        <ion-slide *ngFor="let item of personalidades">
          <ion-grid class="grid-pagging">
            <ion-row style="display: flex;">
              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-center">{{ item.name }}</h1>
              </ion-col>
    
              <ion-col size="12" class="ion-no-padding">
                <ion-list class="list-scrool">  
                  <ion-radio-group (ionChange)="radio_changed ($event, item.name_space, personalidad_map)">            
                    <ion-item *ngFor="let item of personalidad_items [item.name_space + item.id].items" lines="none" class="item-radio-height">
                      <ion-label class="label-campo label-radio">{{ item.valor }}</ion-label>
                      <ion-radio slot="start" [value]="item"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ng-container>

      <ion-slide *ngIf="slide === 'idiomas'">
        <ion-grid class="grid-pagging">
          <ion-row style="display: flex;">
            <ion-col size="12" class="ion-no-padding">
              <h1 class="ion-text-center">{{ 'languages' | translate }}</h1>
            </ion-col>
  
            <ion-col size="12" class="ion-no-padding">
              <ion-list class="list-scrool">  
                <ion-item *ngFor="let item of idiomas" lines="none" class="item-check-height">
                  <ion-label class="label-campo label-chech-radio">{{ item.nombre }}</ion-label>
                  <ion-checkbox (ionChange)="checkbox_changed ($event, item.id, idiomas_map)" slot="start"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide *ngIf="slide === 'regalo_recibir'">
        <ion-grid class="grid-pagging">
          <ion-row style="display: flex;">
            <ion-col size="12" class="ion-no-padding">
              <h1 class="ion-text-center">{{ 'What gifts would you like to receive' | translate }}</h1>
            </ion-col>
  
            <ion-col size="12" class="ion-no-padding">
              <ion-textarea [(ngModel)]="regalo_recibir" class="textarea" rows="10"></ion-textarea>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide *ngIf="slide === 'extras'">
        <form style="align-self: start;" [formGroup]="extras_form" class="row-scrool">
          <ion-grid class="grid-pagging">
            <ion-row style="display: flex;">
              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-center">{{ 'Extras' | translate }}</h1>
              </ion-col>
  
              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-left">{{ 'Would I relocate?' | translate }}</h1>
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <ion-list>
                  <ion-radio-group formControlName="relocate">            
                    <ion-item *ngFor="let item of extras [0].extras" lines="none" class="item-radio-height">
                      <ion-label class="label-campo label-radio">{{ item.valor }}</ion-label>
                      <ion-radio  slot="start" [value]="item"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <h1 class="ion-text-left">{{ 'Passport ready' | translate }}</h1>
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <ion-list>
                  <ion-radio-group formControlName="passport_ready">            
                    <ion-item *ngFor="let item of extras [1].extras" lines="none" class="item-radio-height">
                      <ion-label class="label-campo label-chech-radio">{{ item.valor }}</ion-label>
                      <ion-radio slot="start" [value]="item"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-slide>

      <ion-slide *ngIf="slide === 'galeria'">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <h1 class="ion-text-center">{{ 'Very good photo!' | translate }}<br>{{ 'The more photos you have, the better' | translate }}</h1>
              <div class="div-fotos">
                <ion-card
                  [class.card-fotos-fondo-general]="get_photos_index (0) !== ''"
                  [ngStyle]="{'background-image': 'url(' + get_photos_index (0).imagen + ')'}"
                  (click)="selectImageSource ('photos', 0, fileInput)"
                  class="card-fotos">
                  <ion-icon *ngIf="photos [0] === ''" name="add-outline" class="icon-add"></ion-icon>
                  <input hidden multiple type="file" accept="image/*" #fileInput (change)="changeListener($event, 0)">
                </ion-card>
                
                <ion-button *ngIf="photos [0] !== ''" (click)="delete_image (0)" fill="clear">
                  <ion-icon name="close-circle-sharp"></ion-icon>
                </ion-button>
                
                <ion-card
                  [class.card-fotos-fondo-general]="get_photos_index (1) !== ''"
                  [ngStyle]="{'background-image': 'url(' + get_photos_index (1).imagen + ')'}"
                  (click)="selectImageSource ('photos', 1, fileInput1)"
                  class="card-fotos">
                  <ion-icon *ngIf="photos [1] === ''" name="add-outline" class="icon-add"></ion-icon>
                  <input hidden multiple type="file" accept="image/*" #fileInput1 (change)="changeListener($event, 1)">
                </ion-card>

                <ion-button *ngIf="photos [1] !== ''" (click)="delete_image (1)" fill="clear">
                  <ion-icon name="close-circle-sharp"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide *ngIf="slide === 'gracias'">
        <p class="p-gracias">Gracias por completarme</p>
      </ion-slide>
    </ng-container>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <ion-button (click)="next_step ()" class="btn-continuar-footer" mode="ios">{{ 'Next' | translate }}</ion-button>
  <p (click)="back_step ()" class="p-footer">{{ 'Go back' | translate }}</p>
</ion-footer>
