<ion-header>
  <ion-toolbar>
    <ion-card class="card-cabezera">
      <div class="div-flex">
        <img src="assets/img/icono-no-favorito.png" class="img-circle">

        <ion-label class="label-titulo">
          {{ 'Favorites' | translate }}
        </ion-label>
      </div>
    </ion-card>
    <ion-slides pager="false" [options]="slideOpts" class="slides-header">
      <ion-slide [class.slider-activo]="tab_filter === null" (click)="set_tab (null)" class="slide-header">
        <p class="p-slide">{{ 'Show all' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'online'" (click)="set_tab ('online')" class="slide-header">
        <p class="p-slide">{{ 'Online now' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'membresia'" (click)="set_tab ('membresia')" class="slide-header">
        <p class="p-slide">{{ 'Verified users' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'recientes'" (click)="set_tab ('recientes')" class="slide-header">
        <p class="p-slide">{{ 'Recently connected' | translate }}</p>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_data ($event, false, 'refresher')">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="div-blanco">
    <ion-item class="item-select" lines="none">
      <ion-select class="select-favo" (ionChange)="section_changed ($event)" [(ngModel)]="seccion" interface="popover">
        <ion-select-option value="favoritos">{{ 'Favorites' | translate }}</ion-select-option>
        <ion-select-option value="viewedme">{{ 'Viewed my profile' | translate }}</ion-select-option>
        <ion-select-option value="favoriteme">{{ 'Favorited me' | translate }}</ion-select-option>
        <ion-select-option value="blocked">{{ 'Blocked users' | translate }}</ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down-sharp" class="icon-select"></ion-icon>
    </ion-item>
  </div>

  <ion-list class="div-list-card">
    <div *ngIf="home_loading === true" class="ion-text-center loading-box">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="items.length <= 0 && home_loading === false" class="ion-text-center" style="width: 100%;">
      <ion-item style="--background: transparent;" lines="none" class="ion-text-center">
        <ion-label>
          <h1 class="h1-result ion-text-wrap">{{ 'No results, check your filters.' | translate }}</h1>
        </ion-label>
      </ion-item>
    </div>

    <ion-grid style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
      <ion-row>
        <ion-col size="6" size-md="4" *ngFor="let item of items">
          <ion-card
            class="card-perfil card-pefil-fondo"
            [ngStyle]="{'background-image': 'url(' + item.thumbnail + ')'}"
            (click)="view_profile (item)"
            mode="ios">
            <div class="div-sombra">
              <p class="p-nombre">{{ item.usernick }}<ion-badge *ngIf="item.numero_fotos > 0" slot="end" mode="ios" class="badge-style">
                <ion-icon name="camera" class="icon-camara"></ion-icon>
                {{ item.numero_fotos }}
              </ion-badge></p><div *ngIf="item.online === true" class="div-circulo-activo"></div>
              <div class="item-badge">
                <p class="label-miles">
                  <span class="span-edad">
                    {{ item.edad }}<!-- , {{ item.nombre_ciudad }} -->
                  </span>
                  <span>
                    <!-- ({{ item.distance }}{{ item.distance_format }}) -->
                  </span>
                </p>
                <!-- <ion-icon (click)="toggled_favorite (item, $event)" *ngIf="item.tengo_favorito === false" name="heart-outline" class="icon-activo-favorito"></ion-icon>
                <ion-icon (click)="toggled_favorite (item, $event)" *ngIf="item.tengo_favorito === true" name="heart-sharp" class="icon-activo-favorito"></ion-icon> -->
              </div>
            </div>
            <ion-thumbnail class="avatar-img">
            </ion-thumbnail>
            <img src="assets/img/grupo926.png" *ngIf="item.membresia === 1" class="img-circulo-amarrilo">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>