<ion-content class="ion-text-center">
  <h1 class="ion-text-center">{{ 'Help us see you' | translate }}</h1>
  <img src="assets/img/img-campana.png">
  <p class="p">
    {{ 'Photos sell!! Get more attention by showing yourself.' | translate }}
  </p>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <div class="div-flex-footer">
    <p class="p-footer">{{ 'X Skip' | translate }}</p>
    <ion-button mode="ios">{{ 'OK' | translate }}</ion-button>
  </div>
  <!--<p class="p-footer" (click)="later ()">{{ 'Later' | translate }}</p>-->
</ion-footer>
