<ion-header>
  <ion-toolbar>
    <ion-card class="card-cabezera">
      <div class="div-flex">
        <img *ngIf="bestMatches === false" src="assets/img/icono-flecha-circle.png" class="img-circle">
        <img *ngIf="bestMatches === true" src="assets/img/icono-flecha.png" class="img-circle">

        <ion-label *ngIf="bestMatches === false" class="label-titulo">
          {{ 'Dont seek, find' | translate }}
        </ion-label>
        <ion-label *ngIf="bestMatches === true" class="label-titulo">
          {{ 'Best matches' | translate }}
        </ion-label>
        
        <img *ngIf="bestMatches === false" src="assets/img/icono-flecha.png" (click)="toggle_best_matches ()" class="img-iguales img-flore">
        <img *ngIf="bestMatches === true" src="assets/img/icono-flecha-circle.png" (click)="toggle_best_matches ()" class="img-iguales img-flore">

        <img src="assets/img/iconos_Filtrar.png" (click)="filtrar ()" class="img-iguales img-cuadrado">
      </div>
    </ion-card>
    <ion-slides pager="false" [options]="slideOpts" class="slides-header">
      <ion-slide [class.slider-activo]="tab_filter === null" (click)="set_tab (null)" class="slide-header">
        <p class="p-slide">{{ 'Show all' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'online'" (click)="set_tab ('online')" class="slide-header">
        <p class="p-slide">{{ 'Online now' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'membresia'" (click)="set_tab ('membresia')" class="slide-header">
        <p class="p-slide">{{ 'Verified users' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'nuevos'" (click)="set_tab ('nuevos')" class="slide-header">
        <p class="p-slide">{{ 'Newest member' | translate }}</p>
      </ion-slide>
      <ion-slide [class.slider-activo]="tab_filter === 'recientes'" (click)="set_tab ('recientes')" class="slide-header">
        <p class="p-slide">{{ 'Recently connected' | translate }}</p>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="get_data ($event, false, 'refresher')">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="complete_perfil?.total < 100">
    <div class="ion-text-center div-amarillo-profile">
      <h5 class="h5-profile">
        <ion-spinner *ngIf="loading_complete_perfil === true" name="dots" color="light"></ion-spinner>
        <span *ngIf="loading_complete_perfil === false">
          {{ 'Profile status' | translate }}: {{ complete_perfil?.total }}% - {{ complete_perfil?.texto }}
        </span>
      </h5>
      <p class="p-profile">{{ 'More detailed profiles get all the attention' | translate }}</p>
    </div>
  
    <div class="div-atenttion ion-text-center">
      <ion-button class="btn-get-attention" mode="ios" (click)="complete_profile ()">{{ 'Get more attention!' | translate }}</ion-button>
    </div>
  </ng-container>

  <ion-card class="card-badge">
    <ion-badge *ngIf="edad_range.lower !== 18 || edad_range.upper !== 50" mode="ios" class="badge-filtros">
      Age: {{ edad_range.lower }} - {{ edad_range.upper }}<span class="span-close">x</span>
    </ion-badge>
    
    <ion-badge *ngFor="let item of relationship" mode="ios" class="badge-filtros">
      {{ get_data_name (item, 'relationship') }} <span (click)="delete_filter (item, relationship)" class="span-close">x</span>
    </ion-badge>

    <ion-badge *ngFor="let item of idiomas" mode="ios" class="badge-filtros">
      {{ get_data_name (item, 'idiomas') }} <span (click)="delete_filter (item, idiomas)" class="span-close">x</span>
    </ion-badge>

    <ion-badge *ngFor="let item of get_personalidades ()" mode="ios" class="badge-filtros">
      <span>{{ get_data_title (item, 'personalidad') }}: </span>{{ get_data_name (item, 'personalidad') }}<span (click)="delete_map_filter (item, personalidad_map)" class="span-close">x</span>
    </ion-badge>

    <ion-badge *ngFor="let item of get_apariencias ()" mode="ios" class="badge-filtros">
      <span>{{ get_data_title (item, 'apariencia') }}: </span>{{ get_data_name (item, 'apariencia') }}<span (click)="delete_map_filter (item, apariencia_map)" class="span-close">x</span>
    </ion-badge>

    <ion-badge *ngFor="let item of get_extras ()" mode="ios" class="badge-filtros">
      {{ get_data_title (item, 'extras') }}: {{ get_data_name (item, 'extras') }}<span (click)="delete_map_filter (item, extra_map)" class="span-close">x</span>
    </ion-badge>
  </ion-card>

  <ion-list class="div-list-card">
    <div *ngIf="home_loading === true" class="ion-text-center loading-box">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="items.length <= 0 && home_loading === false" class="ion-text-center" style="width: 100%;">
      <ion-item style="--background: transparent;" lines="none" class="ion-text-center">
        <ion-label>
          <h1 class="h1-result">{{ 'No results, check your filters.' | translate }}</h1>
          <ion-button (click)="filtrar ()" mode="ios" class="btn-filter">{{ 'Filters' | translate }}</ion-button>
        </ion-label>
      </ion-item>
    </div>
    
    <ion-grid style="padding-left: 0px;padding-right: 0px;padding-top: 0px;">
      <ion-row>
        <ion-col size="6" size-md="4" *ngFor="let item of items">
          <ion-card
            class="card-perfil card-pefil-fondo"
            [ngStyle]="{'background-image': 'url(' + item.thumbnail + ')'}"
            (click)="view_profile (item)"
            mode="ios">
            <div class="div-sombra">
              <p class="p-nombre">{{ item.usernick }}<ion-badge *ngIf="item.numero_fotos > 0" slot="end" mode="ios" class="badge-style">
                <ion-icon name="camera" class="icon-camara"></ion-icon>
                {{ item.numero_fotos }}
              </ion-badge></p><div *ngIf="item.online === true" class="div-circulo-activo"></div>
              <div class="item-badge">
                <p class="label-miles">
                  <span class="span-edad">
                    {{ item.edad }}, {{ item.nombre_ciudad }}
                  </span>
                  <span>
                    ({{ item.distance }}{{ item.distance_format }})
                  </span>
                </p>
                <ion-icon (click)="toggled_favorite (item, $event)" *ngIf="item.tengo_favorito === false" name="heart-outline" class="icon-activo-favorito"></ion-icon>
                <ion-icon (click)="toggled_favorite (item, $event)" *ngIf="item.tengo_favorito === true" name="heart-sharp" class="icon-activo-favorito"></ion-icon>
              </div>
            </div>
            <ion-thumbnail class="avatar-img">
            </ion-thumbnail>
            <img src="assets/img/grupo926.png" *ngIf="item.membresia === 1" class="img-circulo-amarrilo">
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="get_data ($event, true, 'infinite-scroll')">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>