@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: Avenirlight;
    src : url('/assets/font/avenirltstd-light.otf')
}
ion-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    --padding-start:  3.125rem;
    --padding-end: 3.125rem;
    --padding-top: 70px;
}
h1
{
    color: #333333;
    font-family: AvenirHeavy;
    margin-bottom: 0px;
    font-size: 1.5625rem;
}
.p
{
    color: #555555;
    font-family: AvenirMedium;
    margin-top: 8%;
    padding: 0px 0px;
    font-size: 1.125rem;
    line-height: 1.2;
}
ion-button
{
    width: 65%;
    --background: #77BDF0;
    --background-activated: #77BDF0;
    --color: #ffffff;
    --color-activated: #ffffff;
    font-family: AvenirHeavy;
    margin-top: 0px;
    --border-radius: 23px;
    height: 50px;
    text-transform: none;
    --box-shadow: none;
    font-size: 20px;
    margin-bottom: 0px;
}

.p-footer
{
    color: #555555;
    font-family: AvenirMedium;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.div-flex-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}
img
{
    margin-top: 30%;
    width: 30%;
}
@media (min-width: 411px)
{
    ion-content
    {
      --padding-top: 5rem
    }
}
/*@media (min-width: 480px)
{
    
}*/
@media (min-width: 540px)
{
    ion-button
    {
       
        width: 45%;
        margin-left: 40px;
    }
    .div-flex-footer
    {
        justify-content: center;
    }
}
@media (min-width: 640px)
{
    ion-content
    {
      --padding-start: 7.5rem;
      --padding-end: 7.5rem;
    }
    ion-button
    {
       
        width: 34%;
    }
}
@media (min-width: 768px)
{
    ion-content
    {
      --padding-start: 12.5rem;
      --padding-end: 12.5rem;
      --padding-top: 7rem;
    }
}
@media (min-width: 1024px)
{
    ion-content
    {
      --padding-start: 18.75rem;
      --padding-end: 18.75rem;
    }
}