<ion-content class="ion-text-center">
  <h1 class="ion-text-center">{{ 'Help us find you' | translate }}</h1>
  {{ error_message }}
  <img src="assets/img/ubicacion.PNG">
  <p class="p">
    {{ 'Using this feature, we can recommend people who are close to you.' | translate }}
    <br>
    <br>
    {{ 'We will never share your location without your permission.' | translate }}
  </p>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  <div class="div-flex-footer">
    <p class="p-footer" (click)="back_step ()">{{ 'X Skip' | translate }}</p>
    <ion-button (click)="check_gps ()" mode="ios">{{ 'OK' | translate }}</ion-button>
  </div>
  <!--<p class="p-footer" (click)="later ()">{{ 'Later' | translate }}</p>-->
</ion-footer>
