<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-card class="bajar_card">
    <ion-card-content class="ion-text-center">
        <img src="assets/img/Grupo804.png">
        <h1>Recover password</h1>

        <ion-input [(ngModel)]="email" placeholder="Enter user e-mail" mode="ios" class="ion-text-start" type="email"></ion-input>
        
        <ng-container >
          <img src="assets/img/Grupo722.png" class="img_circulo">
          <p>
            Please check your e-mail and follow the instructions in it.
          </p>
        </ng-container>

        <ion-button mode="ios" (click)="submit ()">Let’s go</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card class="ion-no-margin">
    <ion-button mode="ios" class="btn_card">I’m new here. Register</ion-button>
  </ion-card>
</ion-content>