@font-face{
    font-family: AvenirHeavy;
    src : url('/assets/font/Avenir Heavy.ttf')
}
@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
ion-content
{
    --background: url('/assets/img/login.jpg') top/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    --padding-start:  1.25rem;
    --padding-end: 1.25rem;
}
.bajar_card
{
    margin-top: 1.5625rem;
    margin-left: 0px;
    margin-right: 0px;
}
ion-card
{
    --background: #ffffffe0;
    border-radius: 13px;
    margin-bottom: 8px;
    ion-card-content
    {
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
      padding-top: 40px;
      h1
      {
        color: #77BDF0;
        font-family: AvenirHeavy;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      ion-input
      {
        --background: #F7F8F7;
        --color: #9D9D9D;
        --placeholder-color: #9D9D9D;
        border: 1px solid #E3E3E3;
        --padding-start:  0.9375rem;
        --padding-end: 0.9375rem;
        font-family: AvenirMedium;
        border-radius: 0.375rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        --placeholder-opacity: 1;
      }
      ion-input::placeholder
      {
        font-family: AvenirMedium;
      }
      p
      {
        color: #909090;
        font-family: AvenirMedium;
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 0.875rem;
      }
      .div_check
      {
        display: flex;
        justify-content: left;
        align-items: end;
        margin-top: 1.25rem;
        ion-label
        {
          --color: #C3C3C3;
          font-family: AvenirMedium;
          margin-left: 0.625rem;
        }
        ion-checkbox
        {
          --border-color: #C3C3C3;
          --background-checked: #FFFFFF;
          --border-color-checked: #C3C3C3;
          --checkmark-color: #C3C3C3;
        }
      }
      ion-button
      {
        --background: #77BDF0;
        --border-radius: 6px;
        font-family: AvenirHeavy;
        font-size: 1rem;
        width: 100%;
        margin-top: 1.875rem;
        --background-activated: #77BDF0;
      }
      ion-button:hover
      {
        --background: #77BDF0;
        --volor: #FFFFFF;
      }
      .img_circulo
      {
          margin-top: 50px;
      }
    }
    .btn_card
    {
      --background: transparent;
      --color: #77BDF0;
      font-family: AvenirHeavy;
      font-size: 18px;
      text-align: center;
      width: 100%;
      --background-activated: transparent;
    }
    .btn_card:hover
    {
      --background: transparent;
      --color: #77BDF0;
    }
}
@media (min-width: 411px)
{
    ion-content
    {
      --padding-start: 1.875rem;
      --padding-end: 1.875rem;
    }
    .bajar_card
    {
      margin-top: 3.75rem;
    }
    ion-card
    {
      ion-card-content
      {
        padding-top: 40px;
      }  
    }
}
@media (min-width: 414px) and (min-height: 896px)
{
    .bajar_card
    {
      margin-top: 7.8125rem;
    }
}
@media (min-width: 480px)
{
    ion-content
    {
      --padding-start: 3.125rem;
      --padding-end: 3.125rem;
    }
    .bajar_card
    {
      margin-top: 7.8125rem;
    }
}
@media (min-width: 640px)
{
    .bajar_card
    {
      margin-top: 1.25rem;
    }
    ion-content
    {
      --padding-start: 7.5rem;
      --padding-end: 7.5rem;
    }
}
@media (min-width: 768px)
{
    .bajar_card
    {
      margin-top: 12.5rem;
    }
    ion-content
    {
      --padding-start: 12.5rem;
      --padding-end: 12.5rem;
    }
}
@media (min-width: 1024px)
{
    .bajar_card
    {
      margin-top: 25.3125rem;
    }
    ion-content
    {
      --padding-start: 18.75rem;
      --padding-end: 18.75rem;
    }
}