
<!--<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ 'Edit perfil' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark">
        {{ 'Close' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ng-container *ngIf="form === 'personal_data'">
    <form style="align-self: start;" [formGroup]="personal_form">
      <ion-grid class="grid-pagging">
        <ion-row style="display: flex;">
          <ion-col size="12">
            <h1 class="ion-text-center">{{ 'Personal Data' | translate }}</h1>
          </ion-col>

          <ion-col size="12">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Nick' | translate }}</ion-label>
              <ion-input formControlName="usernick"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Date of birth' | translate }}</ion-label>
              <ion-datetime formControlName="fecha_nacimiento"></ion-datetime>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item mode="ios" class="item-top-gender">
              <ion-label position="stacked">{{ 'Gender' | translate }}</ion-label>
              <ion-select interface="popover" formControlName="sexo" placeholder="Select One">
                <ion-select-option *ngFor="let item of generos" [value]="item.id">
                  {{ item.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Height' | translate }}</ion-label>
              <ion-select  formControlName="sistema" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="imperial">{{ 'Imperial' | translate }}</ion-select-option>
                <ion-select-option value="metric">{{ 'Metric' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col sieze="6">
            <ion-item mode="ios" class="item-top">
              <ion-label position="stacked"></ion-label>
              <ion-select  formControlName="altura" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let item of get_alturas ()" [value]="item.id">
                  {{ item.text }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item mode="ios">
              <ion-label position="stacked">{{ 'Net. worth' | translate }}</ion-label>
              <ion-select formControlName="patrimonio" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="< $500,000">
                  < $500,000
                </ion-select-option>
                <ion-select-option value="$500,000-$1,000,000">
                  $500,000-$1,000,000
                </ion-select-option>
                <ion-select-option value="$1,000,000-$2,500,000">
                  $1,000,000-$2,500,000
                </ion-select-option>
                <ion-select-option value="$2,500,000-$5,000,00">
                  $2,500,000-$5,000,00
                </ion-select-option>
                <ion-select-option value="$5,000,000-$10,000,000">
                  $5,000,000-$10,000,000
                </ion-select-option>
                <ion-select-option value="> $10,000,000">
                  > $10,000,000
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-item mode="ios" class="item-top-annual">
              <ion-label position="stacked">{{ 'Annual income' | translate }}
              </ion-label>
              <ion-select  formControlName="ingreso_anual" interface="popover" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="< $50,000">
                  < $50,000
                </ion-select-option>
                <ion-select-option value="$50,000-$100,000">
                  $50,000 - $100,000
                </ion-select-option>
                <ion-select-option value="$100,000-$250,000">
                  $100,000 - $250,000
                </ion-select-option>
                <ion-select-option value="$250,000-$500,000">
                  $250,000 - $500,000
                </ion-select-option>
                <ion-select-option value="$500,000-$1,000,000">
                  $500,000 - $1,000,000
                </ion-select-option>
                <ion-select-option value="> $1,000,000">
                  +$1,000,000
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>

  <ng-container *ngIf="form === 'estoy_buscando'">
    <form style="align-self: start;" [formGroup]="estoy_buscando_form">
      <ion-grid class="grid-pagging">
        <ion-row style="display: flex;">
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center h1-textarea">{{ 'Describe exactly what you are looking for' | translate }}</h1>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-textarea formControlName="estoy_buscando" class="textarea" row="10"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>

  <ng-container *ngIf="form === 'sobre_mi'">
    <form style="align-self: start;" [formGroup]="sobre_mi_form">
      <ion-grid class="grid-pagging">
        <ion-row style="display: flex;">
          <ion-col size="12" class="ion-no-padding">
            <h1 class="ion-text-center h1-textarea">{{ 'About me' | translate }}</h1>
          </ion-col>

          <ion-col size="12" class="ion-no-padding">
            <ion-textarea formControlName="sobre_mi" class="textarea" row="10"></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>

  <ng-container *ngIf="form === 'intereses'">
    <ion-grid class="grid-pagging">
      <ion-row style="display: flex;">
        <ion-col size="12" class="ion-no-padding">
          <h1 class="ion-text-center h1-textarea">{{ 'About me' | translate }}</h1>
        </ion-col>

        <ion-col size="12" class="ion-no-padding">
          <ion-list class="list-scroll">
            <ion-item style="display: contents;" *ngFor="let item of intereses" lines="none" class="ion-text-wrap item-radio item-check-height">
              <ion-checkbox
                [checked]="get_checked (item.id, intereses_map)"
                (ionChange)="checkbox_changed ($event, item.id, intereses_map)"
                slot="start"
                class="checbox"></ion-checkbox>
              <ion-label class="label-chech-radio ion-text-wrap">{{ item.valor }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="form === 'idiomas'">
    <ion-grid class="grid-pagging">
      <ion-row style="display: flex;">
        <ion-col size="12" class="ion-no-padding">
          <h1 class="ion-text-center h1-textarea">Idiomas</h1>
        </ion-col>

        <ion-col size="12" class="ion-no-padding">
          <ion-list class="list-scroll">
            <ion-item style="display: contents;" *ngFor="let item of idiomas" lines="none" class="ion-text-wrap item-radio item-check-height">
              <ion-checkbox
                [checked]="get_checked (item.id, idiomas_map)"
                (ionChange)="checkbox_changed ($event, item.id, idiomas_map)"
                slot="start"
                class="checbox"></ion-checkbox>
              <ion-label class="label-chech-radio ion-text-wrap">{{ item.nombre }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="form === 'personalidades'">
    <ion-grid class="grid-pagging">
      <ion-row style="display: flex;">
        <ion-col size="12" class="ion-no-padding">
          <h1 class="ion-text-center h1-textarea">Personalidades</h1>
        </ion-col>

        <ion-col size="12" *ngFor="let personalidad of personalidades">
          <ion-item>
            <ion-label>{{ personalidad.nombre }}</ion-label>
            <ion-select [selectedText]="get_selected_text (personalidad.id, personalidades_map)" (ionChange)="select_changed ($event, personalidad.id, personalidades_map)">
              <ion-select-option [value]="item" *ngFor="let item of personalidad.items">
                {{ item.valor }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="form === 'apariencias'">
    <ion-grid class="grid-pagging">
      <ion-row style="display: flex;">
        <ion-col size="12" class="ion-no-padding">
          <h1 class="ion-text-center h1-textarea">Apariencias</h1>
        </ion-col>

        <ion-col size="12" *ngFor="let apariencia of apariencias">
          <ion-item>
            <ion-label>{{ apariencia.nombre }}</ion-label>
            <ion-select [selectedText]="get_selected_text (apariencia.id, apariencias_map)" (ionChange)="select_changed ($event, apariencia.id, apariencias_map)">
              <ion-select-option [value]="item" *ngFor="let item of apariencia.items">
                {{ item.valor }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="form === 'generos_interes'">
    <ion-grid class="grid-pagging">
      <ion-row style="display: flex;">
        <ion-col size="12" class="ion-no-padding">
          <h1 class="ion-text-center h1-textarea">Generos</h1>
        </ion-col>

        <ion-col size="12" class="ion-no-padding">
          <ion-list class="list-scroll">
            <ion-item style="display: contents;" *ngFor="let item of generos_interes" lines="none" class="ion-text-wrap item-radio item-check-height">
              <ion-checkbox
                [checked]="get_checked (item.id, generos_interes_map)"
                (ionChange)="checkbox_changed ($event, item.id, generos_interes_map)"
                slot="start"
                class="checbox"></ion-checkbox>
              <ion-label class="label-chech-radio ion-text-wrap">{{ item.nombre }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>

  <ng-container *ngIf="form === 'relaciones'">
    <ion-grid class="grid-pagging">
      <ion-row style="display: flex;">
        <ion-col size="12" class="ion-no-padding">
          <h1 class="ion-text-center h1-textarea">Relaciones</h1>
        </ion-col>

        <ion-col size="12" class="ion-no-padding">
          <ion-list class="list-scroll">
            <ion-item style="display: contents;" *ngFor="let item of relaciones" lines="none" class="ion-text-wrap item-radio item-check-height">
              <ion-checkbox
                [checked]="get_checked (item.id, relaciones_map)"
                (ionChange)="checkbox_changed ($event, item.id, relaciones_map)"
                slot="start"
                class="checbox"></ion-checkbox>
              <ion-label class="label-chech-radio ion-text-wrap">{{ item.nombre }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
  <ion-button [disabled]="check_disabled ()" (click)="submit ()" class="btn-continuar-footer">{{ 'Save' | translate }}</ion-button>
  <p class="p-footer" (click)="back ()">{{ 'Go back' | translate }}</p>
</ion-footer>
